<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="ondertekenenClient" class="nl.evidos.ondertekenen.dao.OndertekenenClientRestImpl">
        <constructor-arg value="APPLICATION_NAME_HERE" />    <!-- App name -->
        <constructor-arg value="APP_KEY_HERE" /> <!-- App Key -->
        <constructor-arg value="API_KEY_HERE" /> <!-- Api Key -->
    </bean>

</beans>